<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='PagPrincipal.css') }}">
    <title>Página Principal</title>
    <script src=""></script>
  </head>
  <body>
    <div class="main">
      <h1>Bem Vindo ao Site Fulera</h1>
      <p>Definitivamente muito fulera</p>
      <a href="testeP">Philipo o GRANDE</a></br>
      <a href="initial">Capitão Vinicola</a></br>
      <a href="Esp">Controle da Esp</a></br>
    </div>

    <footer>
      <p>Site Fulera Mk1 - 2024</p>
    </footer>
  </body>
</html>