body{
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin-left: 0%;
    padding-top: 80px;
    padding-bottom: 40px;
}

div.header {
    background-color: rgb(85, 85, 85);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.header p {
    font-size: 5px;
}

body a {
    margin-top: 1px;
    margin-left: 0.5%;
    margin-right: 90%;
    color: white;
    text-decoration: none;
    font-size: larger;
    display: table;
}

footer {
    background-color: rgb(85, 85, 85);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}