body{
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin-left: 0%;
}

div.header {
    background-color: rgb(85, 85, 85);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0px;
    margin-bottom: 1px;
}

body a {
    margin-top: 3%;
    color: white;
    text-decoration: none;
    display: block;

}

footer {
    background-color: rgb(85, 85, 85);
    border-radius: solid 1px rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0px;
    margin-top: 1px;
}